body {
    font-size: 40px;
    box-sizing: border-box;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

.calculator-screen {
    width: 100%;
    font-size: 40px;
    height: 80px;
    border: none;
    background-color: #4d4d4d;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
}

