@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');

body {
    font-family: 'Montserrat';
	margin: 0px;
}

.section-1 {
	width: 100%;
	height: 900px;	
}

.backdrop-img {
	width: 100%;
	position: absolute;
	top: 0;
	object-fit: cover;
	-webkit-filter: brightness(40%);
	z-index: -1;
}



.greeting {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 56px;
	background: #A8FFB1;
	background: -webkit-linear-gradient(to right, #A8FFB1 0%, #425FF3 100%);
	background: -moz-linear-gradient(to right, #A8FFB1 0%, #425FF3 100%);
	background: linear-gradient(to right, #A8FFB1 0%, #425FF3 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	width: 300px;
	padding-top: 250px;
	padding-left: 200px;
	animation: fadeIn linear 0.5s;	
}



/* ----- Projects Page 1 ----- */

.proj-section-1 {
	margin-top: 100px;
	height: 450px;
	width: 70%;
	background: rgb(243,106,62);
	background: linear-gradient(36deg, rgba(243,106,62,1) 0%, rgba(243,106,62,1) 0%, rgba(255,179,11,1) 100%);
	padding: 50px 20px;
	color: #fff;
	border-radius: 20px;
	margin-left: 40px;
}

.proj-section-1 > a > img {
	float: left;
	padding-right: 50px;
	padding-left: 30px;
}

.proj-section-1 h1 { font-size: 40px; }

.project-text {
	width: 500px;
	display: inline-block;
	font-size: 20px;
}

/* ----- END PROJECTS PAGE 1 ----- */

/* ----- Projects Page 2 ----- */

.proj-section-2 {
	margin-top: 100px;
	height: 350px;
	width: 70%;
	background: rgb(243,106,62);
	background: linear-gradient(12deg, rgba(243,106,62,1) 0%, rgba(243,106,62,1) 0%, rgba(255,179,11,1) 100%);
	padding: 50px 20px;
	color: #fff;
	border-radius: 20px;
	margin-right: 40px;
	margin-left: 25%;
}

.proj-section-2 > a > img {
	float: right;
	padding-right: 50px;
	padding-left: 30px;
}

.proj-section-2 h1 { font-size: 40px; padding-left: 50px; }

.project-text-2 {
	width: 500px;
	display: inline-block;
	font-size: 20px;
	padding-left: 50px;
}

/* ----- END PROJECTS PAGE 2 ----- */

/* ----- Projects Page 3 ----- */

.proj-section-3 {
	margin-top: 100px;
	height: 400px;
	width: 70%;
	background: rgb(243,106,62);
	background: linear-gradient(106deg, rgba(243,106,62,1) 0%, rgba(243,106,62,1) 0%, rgba(255,179,11,1) 100%);
	padding: 50px 20px;
	color: #fff;
	border-radius: 20px;
	margin-left: 40px;
}

.proj-section-3 > a > img {
	float: left;
	padding-right: 50px;
	padding-left: 40px;
	vertical-align: inherit;
	width: 450px;
}

.proj-section-3 h1 { font-size: 40px; }

.project-text-3 {
	width: 500px;
	display: inline-block;
	font-size: 20px;
}

/* ----- END PROJECTS PAGE 3 ----- */

/* ----- Projects Page 4 ----- */

.proj-section-4 {
	margin-top: 100px;
	height: 350px;
	width: 70%;
	background: rgb(243,106,62);
	background: linear-gradient(12deg, rgba(243,106,62,1) 0%, rgba(243,106,62,1) 0%, rgba(255,179,11,1) 100%);
	padding: 50px 20px;
	color: #fff;
	border-radius: 20px;
	margin-right: 40px;
	margin-left: 25%;
	margin-bottom: 200px;
}

.proj-section-4 > a > img {
	float: right;
	padding-right: 50px;
	padding-left: 30px;
	width: 350px;
}

.proj-section-4 h1 { font-size: 40px; padding-left: 50px; }

.project-text-4 {
	width: 500px;
	display: inline-block;
	font-size: 20px;
	padding-left: 50px;
}

.proj-img:hover {
	-webkit-filter: brightness(50%);
	transition: 250ms;
}


/* ----- END PROJECTS PAGE 4 ----- */


@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
  
.certs-1 {
	padding-top: 50px;
}

.certs-main > .certs-1 > h1 {
	padding: 20px 100px;
	color: rgb(53, 53, 53);
}

.language-css {
	width: 48%;
	border-radius: 50px;
}

.language-javascript {
	width: 38%;
	border-radius: 50px;
}

.mod-1 {
	margin-left: 100px;
	width: 100%;
}

.sses {
	width: 60%;
}

.mod-2 {
	margin-left: 55%;
	position: relative;
	width: 100%;
	top: -100px;
}



.certs-1 > img {
	float: right;
	position: relative;
	width: 30%;
	top: -690px;
	padding-right: 100px;
}

.certs-1 > .p1 {
	position: relative;
	width: 30%;
	margin-left: auto;
	margin-right: 0;
	top: -600px;
	padding-right: 100px;
	text-align: center;
}

.certs-1 > .p2 {
	position: relative;
	width: 30%;
	margin-right: auto;
	margin-left: 0;
	top: -1500px;
	padding-left: 100px;
	text-align: center;
}

.certs-1 > .img2 {
	float: left;
	position: relative;
	width: 30%;
	top: -1590px;
	padding-left: 100px;

}

.certs-1 > p {
	font-size: 20px;
	float: right;
}

.download {
	text-decoration: none;
	background-color: #6475cc;
	border-radius: 5px;
	padding: 5px 10px;
	color: #fff;
}

.breaker {
	width: 85%;
	height: 6px;
	background-color:rgb(102, 102, 102);
	margin-left: auto;
	margin-right: auto;
	margin-top: -400px;
	border-radius: 2px;
}