@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');

body {
    font-family: 'Montserrat';
	margin: 0px;
}

/* ----- Nav Menu Bar ----- nav color: #0abde3 */
#cssmenu {
	background-color: rgba(0, 0, 0, 0.4);
	width: auto;
    padding-top: 10px;
}

#cssmenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 1;
	display: block;
	zoom: 1;
}

#cssmenu ul:after {
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	clear: both;
	visibility: hidden;
}

#cssmenu ul li {
	display: inline-block;
	padding: 0;
	margin: 0;
    float: right;
}

#cssmenu.align-right ul li {
	float: right;
}

#cssmenu.align-center ul {
	text-align: center;
}

#cssmenu ul li a {
	color: #ffffff;
	text-decoration: none;
	display: block;
	padding: 15px 54px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 18px;
	position: relative;
	transition: color .25s;
}

#cssmenu ul li a:hover {
	color: #7e7e7e;
}

#cssmenu ul li a:hover:before {
	width: 100%;
}



#cssmenu ul li a:before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 0;
	background: #333333;
	transition: width .25s;
}

#cssmenu ul li.last>a:after,
#cssmenu ul li:last-child>a:after {
	display: none;
}

#cssmenu ul li.active a {
	color: #7e7e7e;
}

#cssmenu ul li.active a:before {
	width: 100%;
}

#cssmenu.align-right li.last>a:after,
#cssmenu.align-right li:last-child>a:after {
	display: block;
}

#cssmenu.align-right li:first-child a:after {
	display: none;
}
  

.fas {
    padding-left: 10px;
}

.logo {
    width: 50px;
    height: 50px;
    float: left;
    
    border-radius: 50%;
    margin: -6px 20px;
    vertical-align: middle;
    position: absolute;
}

/* ----- END Nav Menu Bar ----- */
.section-1 {
	width: 100%;
	height: 900px;	
}

.backdrop-img {
	width: 100%;
	position: absolute;
	top: 0;
	object-fit: cover;
	-webkit-filter: brightness(40%);
	z-index: -1;
}



.greeting {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 56px;
	background: #A8FFB1;
	background: -webkit-linear-gradient(to right, #A8FFB1 0%, #425FF3 100%);
	background: -moz-linear-gradient(to right, #A8FFB1 0%, #425FF3 100%);
	background: linear-gradient(to right, #A8FFB1 0%, #425FF3 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	width: 300px;
	padding-top: 250px;
	padding-left: 200px;
	animation: fadeIn linear 0.5s;	
}



/* ----- Projects Page 1 ----- */

.proj-section-1 {
	margin-top: 100px;
	height: 450px;
	width: 70%;
	background: rgb(243,106,62);
	background: linear-gradient(36deg, rgba(243,106,62,1) 0%, rgba(243,106,62,1) 0%, rgba(255,179,11,1) 100%);
	padding: 50px 20px;
	color: #fff;
	border-radius: 20px;
	margin-left: 40px;
}

.proj-section-1 > img {
	float: left;
	padding-right: 50px;
	padding-left: 30px;
}

.proj-section-1 h1 { font-size: 40px; }

.project-text {
	width: 500px;
	display: inline-block;
	font-size: 20px;
}

/* ----- END PROJECTS PAGE 1 ----- */

/* ----- Projects Page 2 ----- */

.proj-section-2 {
	margin-top: 100px;
	height: 350px;
	width: 70%;
	background: rgb(243,106,62);
	background: linear-gradient(12deg, rgba(243,106,62,1) 0%, rgba(243,106,62,1) 0%, rgba(255,179,11,1) 100%);
	padding: 50px 20px;
	color: #fff;
	border-radius: 20px;
	margin-right: 40px;
	margin-left: 25%;
}

.proj-section-2 > img {
	float: right;
	padding-right: 50px;
	padding-left: 30px;
}

.proj-section-2 h1 { font-size: 40px; padding-left: 50px; }

.project-text-2 {
	width: 500px;
	display: inline-block;
	font-size: 20px;
	padding-left: 50px;
}

/* ----- END PROJECTS PAGE 2 ----- */

/* ----- Projects Page 3 ----- */

.proj-section-3 {
	margin-top: 100px;
	height: 400px;
	width: 70%;
	background: rgb(243,106,62);
	background: linear-gradient(106deg, rgba(243,106,62,1) 0%, rgba(243,106,62,1) 0%, rgba(255,179,11,1) 100%);
	padding: 50px 20px;
	color: #fff;
	border-radius: 20px;
	margin-left: 40px;
}

.proj-section-3 > img {
	float: left;
	padding-right: 50px;
	padding-left: 40px;
	vertical-align: inherit;
	width: 450px;
}

.proj-section-3 h1 { font-size: 40px; }

.project-text-3 {
	width: 500px;
	display: inline-block;
	font-size: 20px;
}

/* ----- END PROJECTS PAGE 3 ----- */

/* ----- Projects Page 4 ----- */

.proj-section-4 {
	margin-top: 100px;
	height: 350px;
	width: 70%;
	background: rgb(243,106,62);
	background: linear-gradient(12deg, rgba(243,106,62,1) 0%, rgba(243,106,62,1) 0%, rgba(255,179,11,1) 100%);
	padding: 50px 20px;
	color: #fff;
	border-radius: 20px;
	margin-right: 40px;
	margin-left: 25%;
	margin-bottom: 200px;
}

.proj-section-4 > img {
	float: right;
	padding-right: 50px;
	padding-left: 30px;
	width: 350px;
}

.proj-section-4 h1 { font-size: 40px; padding-left: 50px; }

.project-text-4 {
	width: 500px;
	display: inline-block;
	font-size: 20px;
	padding-left: 50px;
}

/* ----- END PROJECTS PAGE 4 ----- */


@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
  